﻿
@model dynamic
@*@model IEnumerable<Admin_Page.Models.StoreViewModel>*@
@{
    ViewBag.Title = "GenerateCode";

}

<h2>Generate Code</h2>
<div class="text-center">
    @using (Html.BeginForm("AuthorizedCode", "Store", FormMethod.Post, new { @class = "vertical d-flex bd-highlight mb-2 align-items-center" }))
    {
    <select name="Select_Store" class="selectpicker form-control mb-lg-n2 ml-4" id="StoredId" required>
        @if (Model.SelectedStoreId == null)
        {
            <option disabled="disabled" selected value="0">---Select Your Store---</option>
        }
        @foreach (var item in Model.Stores)
        {
            if ((Model.SelectedStoreId != null) && ((string)Model.SelectedStoreId).Equals(item.Id.ToString()))
            {
                <option class="active" selected="selected" value="@item.Id">@item.Name</option>
            }
            else
            {
                <option value="@item.Id">@item.Name</option>
            }

        }
    </select>
        <button type="submit" class="btn btn-outline-secondary ml-5">Generate</button>
    }


</div>

@*@{
    Html.RenderAction("AuthorizedCode");}*@

@{
    if (Model.Codes != null)
    {
       // <h1>@Model.StoreName</h1>
        var newCode = Model.Codes;
        <p class="h1 mt-5 text-center">@newCode.AuthorizeCode</p>
       
    }
}


