﻿@model IEnumerable<Admin_Page.Models.StoreViewModel>
<!-- Thêm thư viện -->
@*@model PagedList.IPagedList<Admin_Page.Models.StoreViewModel>
    @using PagedList.Mvc;*@
<!-- Kết thúc-->
<!-- DataTales Example -->
<h1>Store Management  </h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @*<div class="mb-2 ">
                    <div class="dataTables_length d-flex">
                        <label>
                            Show:
                        </label>
                        @using (Html.BeginForm("GetAllStoreView", "Store", new { @id = "myForm" }))
                        {
                            <select class="custom-select custom-select-sm form-control form-control-sm" name="pageSize" id="pageSize" onchange="this.form.submit()">
                                <option selected value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        }

                        <label>
                            entries
                        </label>
                    </div>

                </div>*@
            <div class="d-flex mb-3">
                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    @using (Html.BeginForm("GetAllStoreView", "Store", new { sortOrder = ViewBag.NameSortParm, size = ViewBag.currentSize }, FormMethod.Get, new { @class = "dataTables_length d-flex" }))
                    {<label class="mr-2">
                            Show:
                        </label>
                        <p>
                            @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();", @class = "custom-select custom-select-sm form-control form-control-sm" })
                        </p>
                        <label class="ml-2">
                            entries
                        </label>
                    }
                </div>
                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    <!-- Another variation with a button -->
                    <form action="GetAllStoreView" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="----- Search -----" id="txtValue" name="ValueSearch">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>@Html.ActionLink("Store Code", "GetAllStoreView", new { sortOrder = ViewBag.NameSortParm, size = ViewBag.currentSize })</th>
                        <th>Store Name</th>
                        <th>Address</th>
                        <th>ShortName</th>
                        <th>Waiting ...</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No.</th>
                        <th>Store Code</th>
                        <th>Store Name</th>
                        <th>Address</th>
                        <th>ShortName</th>
                        <th>Waiting ...</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            
                                <td>@*@Url.Action("Edit","Store", new { @id = item.Id})*@
                                    @Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.StoreCode)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                <td>@Html.DisplayFor(modelItem => item.ShortName)</td>
                                <td>Test</td>
                        </tr>
                    }


                </tbody>
            </table>
            @*<div>
                    <ul class="pagination justify-content-end">
                        <li class="paginate_button page-item previous" id="dataTable_previous">
                            <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                        </li>
                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                        </li>
                        <li class="paginate_button page-item next disabled" id="dataTable_next">
                            <a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                        </li>
                    </ul>
                </div>*@
            @*<br />
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("GetAllStoreView",
                    new { page }))*@
        </div>
    </div>
</div>
<script src="~/Assets/js/sb-admin-2.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('#txtValue').autocomplete({
                source: '@Url.Action("GetAllStoreView", "Store")'
            });
        });
</script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Assest/css/search.css")
