﻿<!-- Thêm thư viện -->
@model PagedList.IPagedList<Admin_Page.Models.StoreViewModel>
@using PagedList.Mvc;

<!-- Kết thúc-->


<h1>Store Management  </h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Store List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-x: hidden; ">
            <div class="dataTables_wrapper dt-bootstrap4" id="dataTable_wrapper">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        @using (Html.BeginForm("Index", "Store", FormMethod.Get, new { @class = "d-flex" }))
                        {
                        <label class="mr-2">
                            <a href="~/Views/Store/Index.cshtml">~/Views/Store/Index.cshtml</a>
                            Show:
                        </label>
                            <p>
                                @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();", @class = "custom-select custom-select-sm form-control form-control-sm" })
                            </p>
                            <label class="ml-2">
                                entries
                            </label>

                            @Html.Hidden("page", (object)ViewBag.page)
                            @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                            @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                            @Html.Hidden("searchString", (object)ViewBag.searchValue)
                        }

                    </div>
                    <div class="col-sm-12 col-md-6">
                        <!-- Another variation with a button -->
                        @using (Html.BeginForm("Index", "Store", FormMethod.Get, new { @class = "d-flex" }))
                        {

                            @Html.TextBox("SearchString", (string)ViewBag.searchValue, new { @class = "form-control input-group", @placeholder = "----- Search -----" })
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            @Html.Hidden("page", (object)ViewBag.page)
                            @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                            @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                            @Html.Hidden("size", (object)ViewBag.pageSize)

                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <tr>
                                @Html.Raw(ViewBag.Headings)
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StoreCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AuthorizeCode)
                                    </td>
                                    @*<td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.LinkID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.LinkID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.LinkID })
                                        </td>*@
                                </tr>
                            }

                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.currentSize, sortProperty = ViewBag.sortProperty, sortOrder = ViewBag.SortOrder, searchString = ViewBag.searchValue }),
                        new PagedListRenderOptions
                        {
                            //    LiElementClasses = new string[] { "page-item" },
                            //    UlElementClasses = new string[] { "pagination" }

                            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                            DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                            DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                            DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                            DisplayLinkToIndividualPages = true,
                            DisplayPageCountAndCurrentLocation = false,
                            MaximumPageNumbersToDisplay = 10,
                            DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                            EllipsesFormat = "&#8230;",
                            LinkToFirstPageFormat = "««",
                            LinkToPreviousPageFormat = "Previous",
                            LinkToIndividualPageFormat = "{0}",
                            LinkToNextPageFormat = "Next",
                            LinkToLastPageFormat = "»»",
                            PageCountAndCurrentLocationFormat = "Page {0} of {1}.",
                            ItemSliceAndTotalFormat = "Showing items {0} through {1} of {2}.",
                            FunctionToDisplayEachPageNumber = null,
                            ClassToApplyToFirstListItemInPager = null,
                            ClassToApplyToLastListItemInPager = null,
                            ContainerDivClasses = new[] { "pagination-container" },
                            UlElementClasses = new[] { "pagination" },
                            LiElementClasses = new string[] { "page-item", "page-link", "active", "paginate_button" },

                        })
                    </div>
                    <div class="col-sm-12 col-md-7 text-right">

                        Page: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="d-flex mb-3">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
        @using (Html.BeginForm("Index", "Store", FormMethod.Get, new { @class = "dataTables_length d-flex" }))
        {
            <label class="mr-2">
                Show:
            </label>
            <p>
                @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();", @class = "custom-select custom-select-sm form-control form-control-sm" })
            </p>
            <label class="ml-2">
                entries
            </label>

            @Html.Hidden("page", (object)ViewBag.page)
            @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
            @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
            @Html.Hidden("searchString", (object)ViewBag.searchValue)
        }

    </div>*@
@*<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 d-flex">*@
<!-- Another variation with a button -->
@*@using (Html.BeginForm("Index", "Store", FormMethod.Get, new { @class = "d-flex" }))
    {*@

@*@Html.TextBox("SearchString", (string)ViewBag.searchValue, new { @class = "form-control input-group", @placeholder = "----- Search -----" })
                <div class="input-group-append">
                    <button class="btn btn-secondary mb-2 ml-1" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                @Html.Hidden("page", (object)ViewBag.page)
                @Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
                @Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
                @Html.Hidden("size", (object)ViewBag.pageSize)

            }



        </div>
    </div>*@
@*<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <tr>
        @Html.Raw(ViewBag.Headings)
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorizeCode)
            </td>*@
@*<td>
        @Html.ActionLink("Edit", "Edit", new { id = item.LinkID }) |
        @Html.ActionLink("Details", "Details", new { id = item.LinkID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.LinkID })
    </td>*@
@*</tr>
        }

    </table>*@
@*<div class="row">
        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 d-flex">
            <p class="mr-2"> Page:   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.currentSize, sortProperty = ViewBag.sortProperty, sortOrder = ViewBag.SortOrder, searchString = ViewBag.searchValue }))</p>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
            Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
    </div>*@

<!-- Thêm mã phân trang -->
@*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.currentSize, sortProperty = ViewBag.sortProperty, sortOrder = ViewBag.SortOrder, searchString = ViewBag.searchValue }))*@
<!-- Kết thúc -->
<script src="~/Assets/js/sb-admin-2.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('#txtValue').autocomplete({
                source: '@Url.Action("Index", "Store")'
            });
        });
</script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Assest/css/sb-admin-2.min.css")
@Styles.Render("~/Assest/css/sb-admin-2.css")
@Styles.Render("~/Assest/css/search.css")
